.wrapper{
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 80%;
  height: 100%;
  padding: 5rem 0;
  box-sizing: border-box;
  max-height: 100vh;
  margin: 0 auto;
}

.messages{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 100%;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

.span{
  padding: 0.2rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.item{
  display: flex;
  text-align: right;
}

.item--post {
  text-align: right;
  justify-content: flex-end;
  & .span {
    background: #399e5b;
  }
}

.item--get {
  text-align: left;
  justify-content: flex-start;
  & .span {
    background: #398c9e;
  }
}
